
nav
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 10
	display: flex
	justify-content: space-between
	align-items: center
	background-color: rgba(0, 0, 0, 0)
	transition: .5s ease-in-out
	transform: translateY(20px)
	.logo
		font: normal 2rem 'Helvetica'
		margin: 10px 0 10px 200px
		img
			height: 80px
			transition: .5s ease-in-out
	ul
		display: flex
		margin-right: 200px
		li
			margin-left: 20px
		a
			display: block
			color: #ffffff
			font: normal 1.3rem Helvetica


.fade-in
	background-color: rgba(0, 0, 0, 0.8)
	transform: translateY(0)
	.logo
		img
			height: 40px
