@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

html, body {
  height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

textarea {
  overflow: auto;
  resize: none;
}

label {
  display: inline-block;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

html {
  scroll-behavior: smooth;
}

main {
  background-color: #ffffff;
  position: relative;
  z-index: 5;
  border-bottom: 1px solid #CA1B01;
  margin-bottom: 29vh;
  -webkit-box-shadow: 0 30px 20px -20px #000000;
          box-shadow: 0 30px 20px -20px #000000;
}

.mixcloud {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.scrollup {
  display: none;
  color: #CA1B01;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-size: 2rem;
}

.scrollup:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.header {
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: inline-block;
}

.header__logo img {
  margin-left: 20px;
  height: 30px;
}

.header__icon {
  color: #ffffff;
  font-size: 1.7rem;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.header__icon:hover {
  color: #CA1B01;
}

.header__nav {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #000), to(transparent));
  background-image: linear-gradient(#000 50%, transparent);
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  overflow: hidden;
}

.header__list li:nth-child(1) {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 50px;
}

.header__list a {
  color: #ffffff;
  display: block;
  text-align: center;
  font: 700 2.5rem Montserrat, sans-serif;
  padding: 20px 0;
}

.header__list a:hover {
  color: #ffffff;
}

@media only screen and (min-width: 62em) {
  .header {
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    display: inline-block;
  }
  .header img {
    margin-left: 200px;
    height: 50px;
  }
  .header__icon {
    display: none;
  }
  .header__nav {
    position: relative;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 200px;
    height: 100%;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__list li:nth-child(1) {
    display: none;
  }
  .header__list li {
    margin-left: 40px;
  }
  .header__list a {
    color: #ffffff;
    display: block;
    text-align: center;
    font: normal 1rem Montserrat, sans-serif;
    padding: 20px 0;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }
  .header__list a:hover {
    color: #CA1B01;
  }
}

@-webkit-keyframes slide-in {
  from {
    height: 0vh;
  }
  to {
    height: 100vh;
  }
}

@keyframes slide-in {
  from {
    height: 0vh;
  }
  to {
    height: 100vh;
  }
}

@-webkit-keyframes slide-out {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}

@keyframes slide-out {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}

@-webkit-keyframes rotate-ccw-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate-ccw-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotate-ccw-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate-ccw-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotate-cw-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-cw-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-cw-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-cw-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.home {
  background: url("../images/headphones.jpg") top/cover no-repeat fixed;
  height: 100vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
}

.home_text {
  font: normal 1rem Montserrat, sans-serif;
  margin: 20px;
  text-align: center;
  position: relative;
  z-index: 5;
  color: #fff;
  line-height: 1.6;
}

.home_text img {
  width: 90vw;
}

.home_text p {
  margin: 30px;
}

.home_text i {
  color: #ff0000;
}

@media only screen and (min-width: 62em) {
  .home_text {
    width: 40vw;
  }
  .home_text img {
    width: 30vw;
  }
}

.home_btn {
  color: #ffffff;
  display: inline-block;
  border: 1px solid #CA1B01;
  border-radius: 10px;
  padding: 15px 45px;
  background-color: #770000;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.home_btn:hover {
  background-color: #CA1B01;
}

iframe {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.bio {
  position: relative;
  overflow: hidden;
}

.bio h2 {
  display: none;
}

.bio__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 20px;
}

.bio__text p {
  font: normal 1rem Montserrat, sans-serif;
  color: #555555;
  margin-bottom: 20px;
}

.bio__title {
  margin-top: 70px;
  margin-bottom: 30px;
  font: 700 2.5rem Montserrat, sans-serif;
  color: #CA1B01;
}

.bio img {
  width: 100%;
}

@media only screen and (min-width: 62em) {
  .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 0;
  }
  .bio .img2 {
    display: none;
  }
  .bio h2 {
    display: block;
    font: 700 2.5rem Montserrat, sans-serif;
    color: rgba(200, 0, 0, 0.3);
    position: absolute;
    -webkit-transform: scale(9);
            transform: scale(9);
    top: 100px;
    left: 500px;
    z-index: -1;
    opacity: .1;
  }
  .bio__title {
    margin-top: 0;
  }
  .bio__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 200px;
  }
  .bio__text {
    margin-right: 20px;
    padding: 0;
  }
  .bio__img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .bio__img img {
    -webkit-box-shadow: 0 20px 20px -15px #333;
            box-shadow: 0 20px 20px -15px #333;
  }
  .bio_list {
    margin: 0 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bio_list div {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 350px;
            flex: 1 1 350px;
  }
  .bio_list div img {
    width: 100%;
    -webkit-box-shadow: 0 30px 10px -20px #666;
            box-shadow: 0 30px 10px -20px #666;
  }
}

.music {
  position: relative;
  padding: 100px 20px 0 20px;
  position: relative;
}

.music_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.music_list {
  opacity: .7;
  position: relative;
  margin-bottom: 100px;
  z-index: 9;
}

.music_list li {
  margin-bottom: 40px;
}

@media only screen and (min-width: 62em) {
  .music {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 150px 200px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .music_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: url("../images/music-bg.jpeg") center/cover fixed;
  }
  .music_title {
    font: normal 2rem Montserrat;
    margin-bottom: 50px;
    color: #ffffff;
    width: 100%;
    text-align: center;
  }
  .music_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .music_list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 450px;
            flex: 1 1 450px;
    margin-right: 20px;
  }
  .music_image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 450px;
            flex: 1 1 450px;
    margin-left: 20px;
  }
  .music_image img {
    width: 100%;
  }
}

.contact {
  position: relative;
  background: url("../images/music-bg.jpeg") bottom/cover fixed;
}

.contact h2 {
  display: none;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  z-index: 5;
}

.contact__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.contact__title {
  margin-top: 70px;
  margin-bottom: 30px;
  font: 700 2.5rem Montserrat, sans-serif;
  color: #ffffff;
}

.contact__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}

.contact__form form {
  font: normal 1rem Montserrat, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form form p {
  color: #ffffff;
  margin-bottom: 30px;
}

.contact__form form input, .contact__form form textarea, .contact__form form button {
  font: normal 1rem Montserrat, sans-serif;
  border-radius: 5px;
}

.contact__form form input, .contact__form form textarea {
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  color: #555555;
  padding: 10px;
}

.contact__form form label {
  color: #ffffff;
  margin-bottom: 10px;
}

.contact__form form button {
  color: #ffffff;
  display: block;
  margin: 0 auto;
  border: 1px solid #CA1B01;
  padding: 15px 45px;
  cursor: pointer;
  background-color: #770000;
}

.contact__form form button:hover {
  background-color: #CA1B01;
}

.contact__details {
  margin: 100px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__list {
  font: normal 1.3rem Montserrat;
  color: #ffffff;
}

.contact__list li {
  margin-bottom: 30px;
  text-align: center;
}

.contact__list a {
  color: #CA1B01;
}

@media only screen and (min-width: 62em) {
  .contact {
    padding: 100px 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact h2 {
    display: block;
    font: 700 2.5rem Montserrat, sans-serif;
    color: rgba(250, 250, 250, 0.3);
    position: absolute;
    -webkit-transform: scale(9);
            transform: scale(9);
    top: 100px;
    left: 600px;
    z-index: 3;
    opacity: .1;
  }
  .contact__title {
    margin-top: 0px;
  }
  .contact__container {
    margin: 0 200px;
  }
  .contact__details li {
    text-align: left;
  }
}

.footer {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222222;
  position: fixed;
  bottom: 0;
  z-index: 0;
  -webkit-box-shadow: inset 0 0 40px 20px #000;
          box-shadow: inset 0 0 40px 20px #000;
}

.footer__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__logo {
  display: inline-block;
}

.footer__logo img {
  height: 70px;
}

.footer__copy {
  text-align: center;
  font: normal .875rem Montserrat;
  color: #fff;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_social a {
  font-size: 1.5rem;
  margin: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #ffffff;
}
