
.bio
	h1 
		margin-bottom: 30px
	background-color: #ffffff
	width: 100%
	display: grid
	grid-template-columns: repeat(12, 1fr)
	align-items: center
	position: relative
	&-bg
		position: absolute 
		top: 0
		left: 0
		z-index: 0
		height: 100%
		width: 100%
		outline: 1px solid #3f0
		background: url('../images/ipnoz3.jpg') top/cover fixed
		opacity: .2
	&-container
		position: relative 
		z-index: 5
		margin: 100px 0
		grid-column: 3 / 11
		display: grid
		grid-template-columns: repeat(auto-fit, minmax(450px, 1fr) )
	&-image
		background: url('../images/bio-img.jpg') top/cover
		box-shadow: 0 30px 10px -20px #666
		height: 500PX
	&-profile
		font: normal 14px Montserrat
		padding-right: 30px