
.footer
	width: 100%
	height: 40vh
	display: flex
	justify-content: center
	align-items: center
	background-color: #222222
	position: fixed
	bottom: 0
	z-index: 0
	box-shadow: inset 0 0 40px 20px #000

	&__container
		align-items: center
		text-align: center
	
	&__logo
		display: inline-block
		img
			height: 70px

	&__copy 
		text-align: center
		font: normal .875rem Montserrat
		color: #fff

.footer_social

	display: flex
	justify-content: center
	a
		font-size: 1.5rem
		margin: 40px 20px
		display: flex
		justify-content: center
		align-items: center
		transition: .3s ease-in-out
		color: #ffffff
    
.footer-clear
	height: 39vh