
footer
	height: 110px
	width: 100%
	background-color: rgba(0, 0, 0, 1)
	display: grid
	grid-template-columns: repeat(12, 1fr)
	.container
		grid-column: 3 / 11
		display: flex
		justify-content: center
		align-items: center
	p 
		font: normal 1rem Montserrat
		color: #fff
    