
footer
	height: 110px
	position: fixed
	bottom: 0
	width: 100%
	background-color: rgba(0, 0, 0, .9)
	display: grid
	grid-template-columns: repeat(12, 1fr)
	z-index: 10
	.container
		grid-column: 3 / 11
		display: flex
		justify-content: space-between
		align-items: center
	p 
		font: normal 1rem Montserrat
		color: #fff
    