
.header
	height: 70px
	position: fixed
	top: 0
	width: 100%
	z-index: 15
	background-color: rgba(0, 0, 0, .7)
	display: flex
	justify-content: space-between
	align-items: center

	&__logo
		display: inline-block
		img
			margin-left: 20px 
			height: 30px

	&__icon
		color: #ffffff
		font-size: 1.7rem
		margin-right: 20px
		border: none
		cursor: pointer
		transition: .3s ease-in-out
		&:hover 
			color: #CA1B01
	
	&__nav 
		background-image: linear-gradient(#000 50%, transparent)
		position: fixed
		top: 0
		right: 0
		height: 0
		overflow: hidden

	&__list
		li:nth-child(1)
			height: 70px
			display: flex
			align-items: center
			justify-content: flex-end
			margin-bottom: 50px
		a 
			color: #ffffff
			display: block
			text-align: center
			font: $header-font
			padding: 20px 0
			&:hover 
				color: #ffffff

	+bp-large
		height: 100px
		position: fixed
		top: 0
		width: 100%
		z-index: 15
		background-color: rgba(0, 0, 0, 1)
		display: flex
		justify-content: space-between
		align-items: center

		&__logo
			display: inline-block
		img
			margin-left: 200px 
			height: 50px

		&__icon
			display: none

		&__nav 
			position: relative
			overflow: visible
			display: flex
			align-items: center
			margin-right: 200px
			height: 100%
					
		&__list
			display: flex
			flex-direction: row	
			li:nth-child(1)
				display: none
			li 
				margin-left: 40px	
			a 
				color: #ffffff
				display: block
				text-align: center
				font: $body-font
				padding: 20px 0
				transition: color .3s ease-in-out
				&:hover 
					color: $main-color

// ---------------------------------------------------	
// 		KEYFRAMES FOR THE MENU ANIMATION
// ---------------------------------------------------	

@keyframes slide-in
	from 
		height: 0vh
	to
		height: 100vh

@keyframes slide-out
	from 
		height: 100vh
	to
		height: 0vh

@keyframes rotate-ccw-out
	from 
		opacity: 1
	to 
		opacity: 0
		transform: rotate(-360deg)

@keyframes rotate-ccw-in
	from 
		opacity: 0
	to 
		opacity: 1
		transform: rotate(-360deg)

@keyframes rotate-cw-out
	from 
		opacity: 1
	to 
		opacity: 0
		transform: rotate(360deg)

@keyframes rotate-cw-in
	from 
		opacity: 0
	to 
		opacity: 1
		transform: rotate(360deg)